{% extends 'courses/layout.html' %}
{% load static %}

{% block static %}
    <script src="{% static 'courses/course.js' %}"></script>
{% endblock  %}

{% block sidebar %}
    <div class="my-3" style="hyphens: auto;">
        <ul style="list-style-type: none;">
            <li><a href="{% url 'resume' course=course.name %}">Introduction</a></li>
        </ul>
        {% for chapter in  chapters %}
            <ul style="list-style-type: none;">
                {% if chapter.name in is_completed %}
                    <li>
                        <a href="{% url 'chapter' course=course.name chapter=chapter.name %}">
                            {{ chapter.name }} &check;
                        </a>
                    </li>
                {% else %}
                    <li>
                        <a href="{% url 'chapter' course=course.name chapter=chapter.name %}">
                            {{ chapter.name }}
                        </a>
                    </li>
                {% endif %}
            </ul>
        {% endfor %}
    </div>
{% endblock %}

{% block content %}
    <div class="d-flex justify-content-between">
        <h1>{{ course }}</h1>
        <button style="border: none;" class="btn btn-sm btn-outline-success" disabled>[ {{ total_chapters_completed }} of {{ chapters.count }} ] Completed</button>
    </div>
    <p>{{ course.description }}</p>
{% endblock %}