{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <title>{% block title %}SelfLearn{% endblock %}</title>
    {% block static %}{% endblock  %}
</head>
<body>
    <ul class="nav">
        {% if user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'profile' username=request.user.username %}">{{ request.user.username }}</a>
            </li>
        {% endif %}
        <li class="nav-item">
            <a class="nav-link" href="{% url 'courses' %}">Courses</a>
        </li>
        {% if user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'logout' %}">Log Out</a>
            </li>
        {% endif %}
    </ul>
    <hr>
    <div class="row mx-2 d-flex visible">
        <div class="col-3 sidebar">
            {% block sidebar %}
            {% endblock %}
        </div>
        <div class="col-6 content">
            {% block content %}
            {% endblock %}
        </div>
        <div class="col-3 chatbot">
            <div class="chat-history">
                <p class="bot-text">Hi! I'm your bot. Ask me anything!</p>
                <p>Functionality coming soon...</p>
            </div>
            <form class="d-flex">
                {% csrf_token %}
                <input class="form-control" name="search" type="search" placeholder="Ask anything..." aria-label="Search" disabled>
                <button class="btn btn-outline-primary" type="submit" disabled>Search</button>
            </form>
        </div>
    </div>
</body>
</html>